{% extends  'layouts/base.html' %}
{% block content %}
  <div class="outer__inner">
    <div class="section-pt80 details">
      <div class="details__center center">
        <div class="details__top">
          <h1 class="details__title h2">Login</h1>
          <div class="details__info">You can set reset password <a href="reset-password.html">Here</a></div>
        </div>
        <div class="details__row">
          <div class="details__col">
            <div class="details__list">
              <div class="details__item">
                <div class="details__category">Use Your OpenID to Login</div>
                <div class="registration__btns">
                  <a class="button-stroke button details__button" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
                  <a class="button-stroke button details__button" href="{% url 'social:begin' 'vk-oauth2' %}">VK</a>
                </div>
              </div>
            </div>
          </div>
          <div class="details__col">
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="details__list">
                <div class="details__item">
                  <div class="details__category">Account info</div>
                  {% if form.errors %}
                    <p class="details__category" style="color: red">Your username and password didn't match. Please try again.</p>
                  {% endif %}
                  <div class="details__fieldset">
                    <div class="field">
                      <div class="field__label">login</div>
                      <div class="field__wrap">
                        <input class="field__input" name="username" placeholder="Enter You Username" required>
                      </div>
                    </div>
                    <div class="field">
                      <div class="field__label">Password</div>
                      <div class="field__wrap"></div>
                      <input class="field__input" type="password" name="password" placeholder="Password" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="details__btns">
                <button class="button details__button" type="submit" value="login">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
                <a class="details__clear" href="#">
                  <svg class="icon icon-circle-close">
                    <use xlink:href="#icon-circle-close"></use>
                  </svg>Clear all
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}